<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h3{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h3{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>

  <img style="float: left;  margin-bottom: 10px; width:100px; height:133px;" src="https://raw.githubusercontent.com/sanajlee/sanajlee.github.io/main/frz_small.jpg">
  
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include copyright.html %}
</div>